@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --header: hsl(180, 29%, 50%);
  --background: hsl(180, 52%, 96%);
}

* {
  box-sizing: border-box;
}

header {
  min-height: 20vh;
  background-image: url("../images/bg-header-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--header);
}

@media screen and (min-width: 768px) {
  header {
    background-image: url("../images/bg-header-desktop.svg");
  }
}

body {
  min-height: 100vh;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  background-color: var(--background);
}

footer {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 800px) {
}
